@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
    background-color: #dee9ff;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
.onboarding-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;
    
}

.onboarding-header__logo {
    display: block;
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.onboarding-header__logo__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.onboarding-header__logo__img svg {
    border-radius: 8px;
    height: 40px;
    width: 40px
}

.onboarding-header__logo__text {
    margin-left: 1rem
}
.onboarding-header__logo__text:hover{
    text-decoration: none;
    scale: 2%;
}

.onboarding-header__login {
    position: absolute;
    right: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.onboarding-header__login .rd__button--grey {
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #5e5e5e
}

.onboarding-header__login__prompt {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500; /*Changed*/
    margin-top: 0;
    margin-bottom: 0;
    
}

@media(max-width:900px) {
    .onboarding-header__login__prompt {
        display: none
    }
}
.signin{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    width: auto ;
    max-width: 100%;
}