{% extends 'main/base.html' %}
{% load static %}

{%block title %} About {%endblock title %}

{% block body %}

<section id="about" class="team">
    <div class="container mt-5">

      <div class="section-title" data-aos="zoom-out" style="padding-bottom:0px;margin-bottom: 0px;">
        <h2>About</h2>
        <p>Photostudioroom</p>
        <h6>
          Photostudioroom is Founded By Subhash Mandal, Who loves Photography and Videography,He is also an Editing Expert.<br><br>
          Ganesh Joshi is Co-Founder Of Photostudioroom, Who is a Programmer and also Manages Photostudioroom's Youtube Channel. <br><br>
          Prakash Jogi is a Manager Of Photostudioroom.

        </h6>
        <h6> Subscribe Us On <a href="https://www.youtube.com/channel/UC8fwBWg_dE5b10ZIRS6Keug" target="_blank"> YouTube </a></h6>
        <h6> Read Our <a href="https://www.termsandconditionsgenerator.com/live.php?token=m2ghA71mBBhL0PSrW0qMf6nEps32sIWP" target="_blank"> Terms and Conditions </a> </h6>
      </div>
    </div>
</section>

<section id="team" class="team" style="margin-top: -120px;">
    <div class="container mt-5">

      <div class="section-title" data-aos="zoom-out" style="padding-bottom:0px;">
        <h2>Team</h2>
        <p>Our Hardworking Team</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="{%static 'assets/img/team/founder.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/pirate_hunter_07/" target="_blank"><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Subhash Mandal</h4>
              <span>Founder</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{%static 'assets/img/team/co-founder.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Ganesh Joshi</h4>
              <span>Co-Founder</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{%static 'assets/img/team/manager.jpeg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/prakash_r_w_l/" target="_blank"><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Prakash Jogi</h4>
              <span>Manager</span>
            </div>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Team Section -->
{%endblock body %}