{% load static %}
<html>
<head>
</head>
<body style="font-size:medium;">
    
  Hello <strong>{{firstname}} {{lastname}}</strong>,
  <br>
  <p>
  Thank You For Booking Appointment For Discussion about Your Event at Photostudioroom,<br>
  We've Received Your Request, You Have Booked an Appointment to Visit Our Studio,<br>
  You Can Come at Our Studio on Your Selected Date and Time.<br>
   
  <br>

  <u>Here Are The Details Of Your Appointment: </u> <br>
  <i>
      Appointment Id: {{id}}<br>
      Appointment Date: {{date}}<br>
      Appointment Time: {{time}}<br>
      Event: {{event}}<br>
      Place: {{place}}<br><br>

      Studio Address: G6 - Photostudioroom, GJ Arcade, Nr. IDBI Bank, Satellite, Ahmedabad - 380015, Gujarat
  </i> <br>

  <br>
  Regards,
  <br>
  Photostudioroom 
  </p>
</body>
</html>